<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobando.jobandotrucking">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JObandoTrucking">
        <activity
            android:name=".Employee_Past_Records"
            android:exported="false" />
        <activity
            android:name=".Employee_Delivery_Info"
            android:exported="false" />
        <activity
            android:name=".Employee_Working_Hours"
            android:exported="false" />
        <activity
            android:name=".Employee_Maps_Directions"
            android:exported="false" />
        <activity
            android:name=".Employee_Navigation_Drawer_Base"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin_View_Jobs"
            android:exported="false" />
        <activity
            android:name=".Admin_View_Drivers"
            android:exported="false" />
        <activity
            android:name=".Admin_Assign_Job"
            android:exported="false" />
        <activity
            android:name=".Admin_Driver_Registration"
            android:exported="false" />
        <activity
            android:name=".Admin_Navigation_Drawer_Base"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Employee_Dashboard"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>